@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@import './pagination.css';
@import './posts.css';


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f1f5f8;
    font-family: 'Roboto', sans-serif;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


